.about {
    justify-content: space-between;

    &__img {
        img {
            width: 100%;
            // height: 500px;
            object-fit: cover;
        }
    }

    &__text {
        line-height: 1.5;
    }

    &__info {
        display: flex;
        margin-top: 5em;
        justify-content: space-between;

        @include respond(medium) {
            flex-direction: column;
            text-align: center;
        }

        >* {
            margin: 1em;
            color: $dark-gray;
            // text-align: center;
        }
    }
}

.about__stats {
    display: grid;
    grid-gap: 2em;
    border-radius: $border-radius-box;
    padding: 2em;
    margin: 2em auto;

    @include respond(large) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include respond(medium) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include respond(small) {
        grid-template-columns: repeat(1, 1fr);
    }

    h3 {
        color: $brand-color;
        font-weight: bold;
    }

    i {
        font-size: 2em;
        margin: 8px auto;
    }

    >* {
        border-radius: $border-radius-box;
        padding: 1em;
        background-color: $background-color;
        text-align: center;
        font-family: $montserrat;
        box-shadow: 2px 2px black;
        border: 1px solid black;
        cursor: pointer;
        transition: all .7s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}