.about {
display: flex;
justify-content: space-between;
    &__img {
        img {
            width: 70%;
            height: 500px;
            object-fit: cover;
        }
    }

    &__text {
        line-height: 1.5;
    }

    &__info {
        display: flex;
        margin-top: 5rem;
        justify-content: space-between;
        @include respond(medium) {
          flex-direction: column;
          text-align: center;
        }
        >* {
            margin: 1rem;
            color: $dark-gray;
            // text-align: center;
        }
    }
}