.intro {
    &__left {
        padding: 3rem;
        display: flex;

        h1 {
            font-size: 10rem;
            color: $background-color;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $dark-gray;
            font-family: $bold;

            @include respond(medium) {
                font-size: 7rem;
            }
            @include respond(small) {
                font-size: 4rem;
            }
        }

    }

    &__right {
        color: $dark-gray;
        display: flex;
        padding: 3rem;
        line-height: 2;
        flex-direction: column;
        justify-content: center;

        @include respond(medium) {
            margin: 0;
        }

        a {
            width: max-content;
            color: $dark-gray;
        }
    }
}

.slider {
    background-color: darken($background-color, 10);
    &__text{
        h1{
            font-size: 8rem;
            @include respond(medium) {
                font-size: 4rem;
            }
            // @include respond(small) {
            //     font-size: 4rem;
            // }
        }
      
    }
  &__gallery{
    .swiper {
        margin-top: 5rem;
        width: 70%;
        height: max-content;
      }
      
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        // font-size: 22px;
        // font-weight: bold;
        // color: #fff;
      }
      p{
          opacity: .4;
          margin: 1rem;
      }
  }
}