.intro {
    &__left {
        padding: 3rem;
       display: flex;
        h1 {
            font-size: 11rem;
            color: $background-color;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $light-color;
            font-family: $bold;
            @include respond(medium) {
                font-size: 7rem;
            }
        }
      
    }

    &__right {
        display: flex;
        padding: 3rem;
        line-height: 2;
        flex-direction: column;
        justify-content: center;
        @include respond(medium) {
          margin: 0;
        }
        a {
            width: max-content;
        }
    }
}