.intro {
    background-color: lighten($color: #000000, $amount: 10);

    .about__stats {
        margin: 2em;

        >* {
            color: $dark-gray !important;
        }
    }

}

.product-slider {
    margin: 2em auto;

    .swiper {
        width: 100%;
        height: 500px;
    }

    .swiper-slide {
        text-align: center;
        position: relative;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        h4 {
            position: absolute;
            bottom: 0;
            padding: 10px;
            background-color: darken($color: #000000, $amount: 0);

        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    @include respond(small) {
        display: none;
    }
}

.swipers {
    height: 60vh;
    background-color: $light-color;
    padding: 0;

    .mySwiper2 {
        height: 100%;
        padding: 0;
        
        .swiper-wrapper {
            position: relative;
            padding: 0;

            img {
                display: block;
                height: 100%;
                object-fit: contain;
                // object-position: 10% 50%;
                margin-right: auto;

                // @include respond(small) {
                //     width: 100%;
                // }
            }

            .swiper-text {
                color: initial;
                position: absolute;
                padding: 2em;
                right: 20%;
                top: 50%;
                width: 50%;
                display: flex;
                flex-direction: column;
                transform: translate(50%, -50%);
              
                a {
                    margin: 2em 0;
                    width: max-content;
                    color: initial;
                }
            }
        }
    }
}

.book {
    position: relative;
    height: 40vh;

    &__text {
        position: absolute;
        top: 40%;
        right: 0;
        transform: translate(-50% -50%);

        @include respond(small) {
            width: 80%;
        }

    }

    &__img {
        height: 100%;
        width: 100%;
        object-position: 50% -30%;
        object-fit: cover;

        @include respond(small) {
            display: none;
        }
    }
}