.intro {
    background-color: lighten($color: #000000, $amount: 0);

    .about__stats {
        margin:  2em;
        >* {
            color: $dark-gray !important;
        }
    }

}

.product-slider {
    margin: 2em auto;

    .swiper {
        width: 100%;
        height: 500px;
    }

    .swiper-slide {
        text-align: center;
        position: relative;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        h4 {
            position: absolute;
            bottom: 0;
            padding: 10px;
            background-color: darken($color: #000000, $amount: 0);

        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.swipers {
    height: 650px;
    background-color: $light-color;

    .mySwiper2 {
        height: 100%;
        .swiper-wrapper {
            img {
                display: block;
                height: 100%;
                object-fit: contain;
                // object-position: 10% 50%;
                margin-right: auto;
            }
        }
    }
}