.footer {
    background-color: darken($background-color, 10);
    display: flex;
    color: $dark-gray;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 4rem;

    @include respond(medium) {
        padding: 0;
        font-size: .8rem;
    }

    &__actions {
        display: flex;

        a {
            margin: 1rem;

            @include respond(medium) {
                margin: 6px;
            }
        }
    }

    >* {
        width: max-content;
        margin: auto;
    }

    .footer__back-to-top {
        transform: rotate(270deg);
        position: absolute;
        right: 5%;
        bottom: 40%;

        @include respond(medium) {
            right: 0;
            bottom: 25%;
            font-size: .7rem;
        }
    }

    address {
        margin: 1rem auto;
        width: max-content;
        color: $dark-gray;
    }

    &__footers {
        font-size: small;
        color: $dark-gray;
        margin: 1rem auto;

        a {
            color: $brand-color;
        }
    }

    a {
        position: relative;
        color: inherit;
        width: max-content;

        &:after {
            content: '';
            display: block;
            margin: auto;
            height: 2px;
            width: 0px;
            background: transparent;
            transition: width .5s ease;
        }

        &:hover:after {
            width: 100%;
            background: $brand-color;
        }
    }

}