header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2em 1em;
    align-items: center;
    display: flex;
    z-index: 2;
    justify-content: space-between;

    &.sticky {
        transition: all 1.4s ease;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $background-color;
        z-index: 10;
        padding: 1em;
        box-shadow: $box-shadow;

        a,
        .fa-bars {
            color: $light-color;
        }
    }

    .toggler,
    a {
        color: $light-color;
        font-size: 2em;

        @include respond(medium) {
            font-size: 1em;
        }

    }

    a {
        position: relative;
        color: inherit;
        width: max-content;

        &:after {
            content: '';
            display: block;
            margin: auto;
            height: 2px;
            width: 0px;
            background: transparent;
            transition: width .5s ease;
        }

        &:hover:after {
            width: 100%;
            background: $brand-color;
        }
    }
}

.logo {
    font-family: $cursive;
    font-size: 3em;

    @include respond(medium) {
        font-size: 1em;
    }
}