.nav {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    // position: relative;
    position: fixed;
    z-index: 50;
    background-color: $background-color;
    top: 0;
    color: $light-color;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    overflow: hidden;
    transition: all 1s ease;
    // opacity: 0;
    width: 0;



    &.show {
        opacity: 1;
        width: 100%;
    }

    &__wrapper {
        display: flex;
        text-transform: uppercase;
        width: max-content;

        @include respond(medium) {
            flex-direction: column;
        }

        .vertical-line {
            height: 100%;
            width: 1px;
            opacity: .4;
            background: $light-color;

            @include respond(medium) {
                display: none;
            }
        }
    }

    .logo {
        font-family: $cursive;
        color: $light-color;
    }

    // >* {
    //     font-family: $montserrat;
    // }

    &__link {
        color: $light-color;
        font-size: 2.6rem;
        letter-spacing: 2;
        text-align: left;
        padding: 15px;
        font-family: $bold;
        position: relative;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        width: max-content;

        &:after {
            content: '';
            display: block;
            margin: auto;
            height: 2px;
            width: 0px;
            background: transparent;
            transition: width .5s ease;
        }

        &:hover:after {
            width: 100%;
            background: $brand-color;
        }

        @include respond(medium) {
            font-size: 1.8rem;
        }

        @include respond(small) {
            font-size: 1rem;
        }


    }

    %both {
        display: grid;
        color: $light-color;
        margin: 1rem
    }

    &__left {
        @extend %both;
        margin-right: 3rem;
    }

    &__right {
        @extend %both;
        margin-left: 3rem;
    }

    &__close {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 3rem;
        padding: 20px;
        font-weight: bolder;
        font-family: $montez;
        color: $light-color;

        &:active {
            transform: scale(.7);
        }
    }

    address {
        font-family: $bold;

        @include respond(medium) {
            font-size: 1rem;
        }
    }
}