%btn {
    font-size: 1rem;
    border-radius: $border-radius-btn;
    padding: .8rem 1.6rem;
    font-weight: bold;
    cursor: pointer
}

.pry-btn {
    @extend %btn;
}

.action-btn {
    @extend %btn;
    border: 2px solid;
    color: $light-color;
    box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: .3);
    &:hover{
        transform: scale(.9);
    }
}

button {
    background: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $brand-color;
        
    }
}