.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  color: $background-color;

  video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    z-index: 2;
    position: absolute;
    bottom: 3em;
    text-align: left;
    font-family: $bold;
    left: 3em;
    font-weight: lighter;
    // width: 100%;

    h2 {
      font-size: 4em;
      color: $background-color;
      text-transform: capitalize;
      // text-shadow: 2px 2px 2px #000, 2px 2px 2px #000, ;
    }
    a{
      background-color: $background-color;
    }
  }
}

