.hero {
  position: relative;
  height: 95vh;
  color: $background-color;

  video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    z-index: 2;
    position: absolute;
    bottom: 3rem;
    text-align: left;
    font-family: $bold;
    left: 3rem;
    font-weight: lighter;
    // width: 100%;

    h2 {
      font-size: 4rem;
    }
  }
}