
$background-color :#101010;
$brand-color: #de0000;
$light-color: #dfdfdf;
$white :#ffffff;
$border-radius-btn: 20px;
$border-radius-box: 10px;
$cursive: 'Comforter', cursive;
$montez: 'Montez', cursive;
$montserrat: 'Montserrat', sans-serif;
$bold: 'Playfair Display', serif;

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-size: 18px;
    background-color: $background-color;
    color: $light-color;
    font-family: $montserrat;
}

// Set text color based on bg
@function set-text-color($color) {
    @if(lightness($color) > 70) {
      @return rgb(35, 35, 35);
    } @else {
      @return rgb(240, 240, 240);
    }
  }
  
  // Set background & text color
  @mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
  }