
$background-color :#101010;
$brand-color: #de0000;
$light-color: #d8d8d8;
$dark-gray :#414141;
$white :#ffffff;
$border-radius-btn: 20px;
$border-radius-box: 10px;
$cursive: 'Comforter', cursive;
$montez: 'Montez', cursive;
$montserrat: 'Montserrat', sans-serif;
$bold: 'Playfair Display', serif;

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-size: 18px;
    background-color: $background-color;
    color: $light-color;
    width: 100vw;
    font-family: $montserrat;
}
h1, h2, h3, h4, h5{
  font-family: $bold
}
// Set text color based on bg
@function set-text-color($color) {
    @if(lightness($color) > 70) {
      @return rgb(35, 35, 35);
    } @else {
      @return rgb(240, 240, 240);
    }
  }
  
  // Set background & text color
  @mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
  }

  .socials {
    display: flex;
    justify-content: space-between;
    text-align: center;

    a{
        border-radius: 50%;
        border: 1px solid;
        color: inherit;
        padding: 10px;
        width: 40px;
        height: 40px;
        margin: 8px;
        font-size: 1.2rem;
        align-items: center;
        display: flex;
        justify-content: center;

        @include respond(medium) {
            font-size: .8rem;
            margin: 3px;
            width: 30px;
            height: 30px;
        }
    }
}