//margin and padding

$spaceamounts : (1, 2, 3, 4, 5);
@each $space in $spaceamounts {
    .m-#{$space}{
        margin: #{$space}em;
    }
    .mx-#{$space}{
        margin: 0 #{$space}em ;
    }
    .my-#{$space}{
        margin: #{$space}em 0;
    }
    .p-#{$space}{
        padding: #{$space}em ;
    }
    .px-#{$space}{
       padding: #{$space}em 0;
    }
    .py-#{$space}{
       padding: #{$space}em 0;
    }
}

 
